/* src/components/dropDown.css */

.dropdown-container {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.dropdown-container select {
  width: 120px; /* Set width for the dropdown */
  padding: 6px; /* Decrease padding for a more compact appearance */
  font-size: 12px; /* Decrease font size for a more compact appearance */
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #333;
  margin-right: 10px; /* Add some space between the dropdowns */
  outline: none;
  transition: all 0.3s ease-in-out;
}

.dropdown-container select:hover {
  background-color: #e0e0e0;
}

#projectDropdown {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
}

#projectDropdown.show {
  display: block;
}

.show {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}
